/topem-back/node_modules
/topem-back/public/hot
/topem-back/public/storage
/topem-back/storage/*.key
/topem-back/vendor
/topem-back.env
/topem-back.env.backup
/topem-back.phpunit.result.cache
/topem-backdocker-compose.override.yml
/topem-backHomestead.json
/topem-backHomestead.yaml
/topem-backnpm-debug.log
/topem-backyarn-error.log
/topem-back/.idea
/topem-back/.vscode


/prueba-vue-topem/.DS_Store
/prueba-vue-topem/node_modules
/prueba-vue-topem/dist


# local env files
/prueba-vue-topem/.env.local
/prueba-vue-topem/.env.*.local

# Log files
/prueba-vue-topem/npm-debug.log*
/prueba-vue-topem/yarn-debug.log*
/prueba-vue-topem/yarn-error.log*
/prueba-vue-topem/pnpm-debug.log*

# Editor directories and files
/prueba-vue-topem/.idea
/prueba-vue-topem/.vscode
/prueba-vue-topem/*.suo
/prueba-vue-topem/*.ntvs*
/prueba-vue-topem/*.njsproj
/prueba-vue-topem/*.sln
/prueba-vue-topem/*.sw?



# Compiled output
/angular-topem/dist
/angular-topem/tmp
/angular-topem/out-tsc
/angular-topem/bazel-out

# Node
/angular-topem/node_modules
/angular-topemnpm-debug.log
/angular-topemyarn-error.log

# IDEs and editors
/angular-topem/.idea/
/angular-topem/.project
/angular-topem/.classpath
/angular-topem/.c9/
/angular-topem/*.launch
/angular-topem/.settings/
/angular-topem/*.sublime-workspace

# Visual Studio Code
/angular-topem/.vscode/*
/angular-topem/!.vscode/settings.json
/angular-topem/!.vscode/tasks.json
/angular-topem/!.vscode/launch.json
/angular-topem/!.vscode/extensions.json
/angular-topem/.history/*

# Miscellaneous
/angular-topem/.angular/cache
/angular-topem/.sass-cache/
/angular-topem/connect.lock
/angular-topem/coverage
/angular-topem/libpeerconnection.log
/angular-topem/testem.log
/angular-topem/typings

# System files
/angular-topem/.DS_Store
/angular-topem/Thumbs.db
